<ion-header>
    <ion-toolbar>
        <ion-title>AASP</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <ion-card no-padding>
        <ion-card-content>
            <!-- List of Input Items 
            <ion-list>
                <ion-header>
                    <ion-item no-padding>
                        <ion-label><strong>Esto es un texto en negrita</strong></ion-label>
                    </ion-item>
                </ion-header>
                <ion-item>
                    <ion-label>fsdf</ion-label>
                    <ion-icon slot="end" color="danger" name="radio-button-on"></ion-icon>
                </ion-item>
                <ion-item>
                    <ion-label>fsdfs</ion-label>
                    <ion-icon slot="end" color="warning" name="radio-button-on"></ion-icon>
                </ion-item>
            </ion-list>

            <ion-list>
                <ion-header>
                    <ion-item no-padding>
                        <ion-label><strong>Esto es un texto en negrita</strong></ion-label>
                        <ion-icon slot="end" color="success" name="radio-button-on"></ion-icon>
                    </ion-item>
                </ion-header>
            </ion-list>
            <ion-list>
                <ion-header>
                    <ion-item no-padding>
                        <ion-label><strong>Esto es un texto en negrita</strong></ion-label>
                        <ion-icon slot="end" color="success" name="radio-button-on"></ion-icon>
                    </ion-item>
                </ion-header>
            </ion-list>
-->

            <ion-list>
                <ion-item>
                    <img src='assets/img/banner.png'>
                </ion-item>
                <ion-header>
                    Bienvenido
                </ion-header>
                <ion-item text-justify>
                    <p>
                        AASP permite calcular el percentil del rendimiento académico probable que tendrá un estudiante en el futuro próximo.
                    </p>
                </ion-item>
                <ion-item text-justify>
                    <p>
                        Para conocer su rendimiento académico, conteste de manera sincera las preguntas que se le consultan. AASP le brinda una calificación probable según su perfil de respuesta y le ofrece una descripción más amplia de sus características académicas.
                    </p>
                </ion-item>
                <ion-item text-justify>
                    <p>
                        También le ofrece sugerencias y recomendaciones sobre los aspectos más relevantes para mejorar su rendimiento académico.
                    </p>
                </ion-item>
                <ion-item text-justify>
                    <p>
                        Para dar respuesta a las preguntas se le presenta una barra de desplazamiento que puede utilizar para asignar su nivel de respuesta desde el valor cero (0) hasta el más alto (10), valores intermedios representan opiniones intermedias.
                    </p>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>