<ion-header>
    <ion-toolbar>
        <ion-title>AASP</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <ion-card no-padding>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <img src='assets/img/banner.png'>
                </ion-item>
                <ion-list>
                    <ion-item>
                        <ion-label>Escoge el idioma</ion-label>
                        <ion-select (ionChange)="selecionarIdioma($event)" [(ngModel)]="idioma">
                            <ion-select-option *ngFor="let item of idiomas" [value]="item.value">
                                {{ item.label }}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item *ngIf="idioma=='en'" color="secondary">
                        <ion-label text-wrap>
                            <p>Language in development.</p>
                        </ion-label>
                    </ion-item>
                </ion-list>
                <ion-header>
                    Bienvenida
                </ion-header>
                <br>
                <ion-item text-justify>
                    <p>
                        AASP permite calcular el percentil del rendimiento académico probable que tendrá un estudiante en el futuro próximo.
                    </p>
                </ion-item>
                <br>
                <ion-item text-justify>
                    <p>
                        Para conocer su rendimiento académico, conteste de manera sincera las preguntas que se le consultan. AASP le brinda una calificación probable según su perfil de respuesta y le ofrece una descripción más amplia de sus características académicas.
                    </p>
                </ion-item>
                <br>
                <ion-item text-justify>
                    <p>
                        También le ofrece sugerencias y recomendaciones sobre los aspectos más relevantes para mejorar su rendimiento académico.
                    </p>
                </ion-item>
                <br>
                <ion-item text-justify>
                    <p>
                        Para dar respuesta a las preguntas se le presenta una barra de desplazamiento que puede utilizar para asignar su nivel de respuesta, según si la descripción del texto la asocia a su forma de ser.
                    </p>
                </ion-item>
                <br>
                <ion-item text-justify>
                    <p>
                        La escala va desde el valor cero.(0 = Nunca soy así) hasta el más alto (10 = Siempre soy así) y valores intermedios representan opiniones intermedias.
                    </p>
                </ion-item>
                <br>
            </ion-list>
            <div text-center>
                Muchas gracias,
                <br> Greibin Villegas Barahona
                <br> Universidad de Salamanca,
                <br> España
                <br> Universidad Estatal a Distancia,
                <br> Costa Rica
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>