<ion-header>
    <ion-toolbar>
        <ion-title>AASP</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col text-center>
            <h1>
                Academic Achievement Score Projection
            </h1>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col text-center>
            <img src='assets/img/greibin.jpg'>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col text-center>
            Greibin Villegas Barahona, Dr
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col text-center>
            Departamento de estadística
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col text-center>
            Universidad de Salamanca, España
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col text-center>
            Universidad Estatal a Distancia, Costa Rica
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col text-center>
            gvillegas@uned.ac.cr
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col text-center>
            greibin_villegas@hotmai.com
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col text-center>
            greibinvillegas@gmail.com
        </ion-col>
    </ion-row>
    <!--ion-row>
        <ion-avatar>
            <img src='assets/img/greibin.jpg'>
        </ion-avatar>
    </ion-row-->

</ion-content>