<ion-header>
    <ion-toolbar>
        <ion-title>
            AASP {{pregunta.Numero}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            <div *ngIf="!mostraResultado">
                <div text-justify>
                    {{pregunta.Pregunta_es}}
                </div>
                <ion-footer>
                    <app-pregunta-escala *ngIf="pregunta.Tipo == 1" [pregunta]="pregunta" (respuestaNueva)="PreguntaSiguiente($event)">
                    </app-pregunta-escala>
                    <app-pregunta-promedio *ngIf="pregunta.Tipo == 2" [pregunta]="pregunta" (respuestaNueva)="PreguntaSiguiente($event)">
                    </app-pregunta-promedio>
                    <app-pregunta-escolaridad *ngIf="pregunta.Tipo == 3" [pregunta]="pregunta" (respuestaNueva)="PreguntaSiguiente($event)">
                    </app-pregunta-escolaridad>
                    <app-pregunta-actividad *ngIf="pregunta.Tipo == 4" [pregunta]="pregunta" (respuestaNueva)="PreguntaSiguiente($event)">
                    </app-pregunta-actividad>
                    <app-pregunta-escala-promedio *ngIf="pregunta.Tipo == 5" [pregunta]="pregunta" (respuestaNueva)="PreguntaSiguiente($event)">
                    </app-pregunta-escala-promedio>
                </ion-footer>
            </div>
            <div *ngIf="mostraResultado">
                <ion-list *ngFor="let datos of datosSemaforo">
                    <ion-header no-border>
                        <ion-item no-padding>
                            <strong *ngIf="datos.Items.length > 1">{{datos.Escala}}</strong>
                            <strong *ngIf="datos.Items.length == 1">{{datos.Items[0].Nombre}}</strong>
                            <ion-icon *ngIf="datos.Items.length == 1" slot="end" color="success" name="radio-button-on"></ion-icon>
                        </ion-item>
                    </ion-header>
                    <div *ngIf="datos.Items.length > 1">
                        <ion-item *ngFor="let item of datos.Items">
                            {{item.Nombre}}
                            <ion-icon slot="end" [color]="ObtenerColorSemaforo(item.Color)" name="radio-button-on"></ion-icon>
                        </ion-item>
                    </div>
                </ion-list>
                <!--

                    <div text-justify>
                        Resulatado:
                    </div>
                    <DIV>
                        {{resultado | json}}
                    </DIV>
                    <div>
                        Detalle por pregunta:
                    </div>
                    <diV>
                        <pre class="list-group-item-text"> {{servicioRespuestas.respuestas | json }} </pre>
                    </diV>
                -->
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>