<ion-header>
    <ion-toolbar>
        <ion-title>
            AASP
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content no-padding *ngIf="!mostraResultado">
    <ion-card>
        <ion-card-content>
            <div>
                <div text-justify>
                    {{pregunta.Pregunta_es}}
                </div>
                <ion-footer>
                    <app-pregunta-escala *ngIf="pregunta.Tipo == 1" [pregunta]="pregunta" (respuestaNueva)="PreguntaSiguiente($event)">
                    </app-pregunta-escala>
                    <app-pregunta-promedio *ngIf="pregunta.Tipo == 2" [pregunta]="pregunta" (respuestaNueva)="PreguntaSiguiente($event)">
                    </app-pregunta-promedio>
                    <app-pregunta-escolaridad *ngIf="pregunta.Tipo == 3" [pregunta]="pregunta" (respuestaNueva)="PreguntaSiguiente($event)">
                    </app-pregunta-escolaridad>
                    <app-pregunta-actividad *ngIf="pregunta.Tipo == 4" [pregunta]="pregunta" (respuestaNueva)="PreguntaSiguiente($event)">
                    </app-pregunta-actividad>
                    <app-pregunta-escala-promedio *ngIf="pregunta.Tipo == 5" [pregunta]="pregunta" (respuestaNueva)="PreguntaSiguiente($event)">
                    </app-pregunta-escala-promedio>
                    <app-pregunta-demografica *ngIf="mostrarDemografica" (finalizarEvento)="finalizar($event)">
                    </app-pregunta-demografica>
                </ion-footer>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>

<ion-content *ngIf="mostraSituacionActual">
    <div>
        <ion-card-header>
            <h1 text-center>
                Resultado
            </h1>
        </ion-card-header>



        <ion-button (click)="irRendimientoActual();" shape="round" expand="block" fill="outline">Rendimiento académico esperado</ion-button>
        <br>
        <ion-button (click)="irPerfilActua();" shape="round" expand="block" fill="outline">Situación pedagógica actual </ion-button>
        <br>
        <ion-button (click)="irSugerenciaPedagogica();" shape="round" expand="block" fill="outline">Sugerencias pedagógicas</ion-button>


        <!--
            <ion-card-header>
                <h2 text-center>
                    Percentil del rendimiento académico esperado: <strong>
                        <ion-badge>{{resultado.Percentil | number:'.1'}}%</ion-badge>            
                    </strong>
                </h2>
            </ion-card-header>
            <diV text-center>
                
                <app-grafico [Percentil]="resultado.Percentil"></app-grafico>
            </diV>
            <app-indicadores padding [Percentil]="resultado.Percentil"></app-indicadores>
            <br>
            <div padding>
                <app-situacion-actual></app-situacion-actual>
            </div>
        -->
    </div>
</ion-content>