<div>
    <ion-list>
        <ion-item>
            ¿Cuántos días? Y ¿Cuántas horas por día dedica a la actividad física intensa? (Intensa se refiere a actividades que implican un esfuerzo físico intenso y que lo hacen respirar mucho más intensamente que lo normal, tales como: levantar pesos pesados, cavar,
            hacer ejercicios aeróbicos o andar rápido en bicicleta).
        </ion-item>
        <ion-item>
            <ion-label color="primary">Dias:</ion-label>
            <ion-input [(ngModel)]="intensaDias" type="number" placeholder="Dias"></ion-input>
            <ion-label color="primary">Horas:</ion-label>
            <ion-input [(ngModel)]="intensaHoras" type="number" placeholder="horas"></ion-input>
        </ion-item>
        <ion-item>
            ¿Cuántos días? Y ¿Cuántas horas por día dedica a la actividad física moderada? (Moderada se refiere a actividades que requieren un esfuerzo físico moderado que lo hace respirar algo más intensamente que lo normal, tales como: como transportar pesos livianos,
            andar en bicicleta a velocidad regular o jugar dobles de tenis).
        </ion-item>
        <ion-item size="6">
            <ion-label color="primary">Dias:</ion-label>
            <ion-input [(ngModel)]="moderadaDias" type="number" placeholder="Dias"></ion-input>
            <ion-label color="primary">Horas:</ion-label>
            <ion-input [(ngModel)]="moderadaHoras" type="number" placeholder="horas"></ion-input>
        </ion-item>
        <ion-item>
            ¿Cuántos días? Y ¿Cuántas horas por día dedica a caminar? (Esto incluye caminar en el trabajo o en la casa, para trasladarse de un lugar a otro, o cualquier otra caminata que usted podría hacer solamente para la recreación, el deporte, el ejercicio o
            el ocio).
        </ion-item>
        <ion-item>
            <ion-label color="primary">Dias:</ion-label>
            <ion-input [(ngModel)]="caminarDias" type="number" placeholder="Dias"></ion-input>

            <ion-label color="primary">Horas:</ion-label>
            <ion-input [(ngModel)]="caminarHoras" type="number" placeholder="horas"></ion-input>
        </ion-item>
    </ion-list>
</div>
<ion-button shape="round" (click)="PreguntaSiguiente()" expand="block" fill="outline" [disabled]="!SonDatosValidos()" [color]="(!SonDatosValidos()) ? 'medium' : 'primary'">Pregunta siguiente</ion-button>